* {
    font-family: Tomaha;
}

h1.subject {
    text-align:center;
}
body {
    color: darkblue
}

table.conferences {
    border-collapse: collapse ;
    

}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

input[type="text"] {
    width: 20%;
}
input[type="file"] {
    width: 20%;
}

.detection {
    display: flex;
    justify-content: center;
}
.right {
    text-align: center;
}