<!DOCTYPE html>
<html>
    <head>
        <meta charset=""utf-8>
        <title>Deadline Ahead</title>
        <link href = "{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/> 
    </head>
    <body>
        <div class="container">
            <h1 class="subject"> Deadline Ahead</h1>

            <hr>
            <form>
                <input type="text", id="myInput" placeholder="Search for Deadline..." onkeyup="myFunction()" />
            </form>

            <hr>

            <table border="1" class="conferences" id="myTable">
                <tr>
                    <th>Conferences</th>
                    <th>City, Country</th>
                    <th>Deadline</th>
                    <th>Date</th>
                    <th>Notification</th>
                    <th>Submission</th>
                </tr>
                {% for p in conf %}
                <tr>
                    <td><a href="#">{{ p.Conference }}</a></td>
                    <td>{{ p.City_Country }}</td>
                    <td>{{ p.Deadline }}</td>
                    <td>{{ p.Date }}</td>
                    <td>{{ p.Notification }}</td>
                    <td>{{ p.Submission }}</td>
                </tr>
                {% endfor %}
            </table>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[2];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }       
                    }
                }
            </script>
        </div>
    </body>
</html>